.news-item{
    background: #CAF0F8;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    max-width:500px;
    transition: all 0.5s ease-in-out;
}
.news-item.dark-theme{
    background-color: #0077B6;
    color:#fff;
}
.news-item:hover{
    box-shadow: 0 0 40px rgba(0, 120, 182, .6); 
}
.news-item__box{
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}
.news-item__img{
    margin-bottom: 5px;

}
.news-item__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.news-item__source{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.news-item__source img{
    width: 5%;
}
.news-item__content{
    display: flex;
    flex-direction: column;

}
.news-item__content:last-child{
    align-self: flex-end;
}
.news-item__title{
    text-align:justify;
    padding: 10px 0;
}
.news-item__details{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}
.publish{
font-weight: 700;
}
.time__publish{
    font-style: italic;
}
.news-item__view-more{
    margin-top: 10px;
    border: none;
    background-color: #FFF;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
}
.news-item__view-more:hover{
    background-color: #0078B6;
}
.news-item__view-more.dark-theme{
    background-color: #00B4D9;
    color:#FFF;
}
