
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body,
#root{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color:#d7ccc8 ;
}


ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
a{
  text-decoration: none;
  color:inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}
main{
  flex: 1 1 auto;
}