
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  min-height: 100vh;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}


ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
a{
  text-decoration: none;
  color:inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}
.wrapper{
  padding: 0 20px;
}